  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  #inputFilter {
    width: 100%; 
  }
}

@media (max-width: 600px) {
  #inputFilter {
    font-size: 14px;
  }
  .product {
    margin-top: 20px;
  }
  .btn.btn-link.btn-sm {
    
    font-size: 10px;
    padding: 5px 10px;
  }
  .col-lg-6.offset-lg-6.col-md-12.mb-1.container {
    font-size: 14px; 
    text-align: left; 
  }
  .sectionBuscar .row {
    font-size: 13px;
  }
  .btn.btn-light.btn-block {
    font-size: 14px;
  }
  .form-control {
    font-size: 14px;
  }
 
}